@(medico: MedicoEntity)
@index2 {
    <!-- start: Content -->
    <div id="content" class="span10">


        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="index.html">Home</a>
                <i class="icon-angle-right"></i>
                <p id ="nMedico" hidden>@medico.getId</p>
            </li>
            <li><a href="#">Calendar</a></li>
        </ul>
        <a id='hiddenButton'class="btn btn-info btn-lg hiddenElement" data-toggle="modal" href="#myModal">
            <i class="halflings-icon white edit"></i>
        </a>
        <div class="row-fluid sortable">
            <div class="box span12">
                <div class="box-header" data-original-title>
                    <h2><i class="halflings-icon white calendar"></i><span class="break"></span>Calendar</h2>
                </div>
                <div class="box-content">
                    <div id="external-events" class="span3 hidden-phone hidden-tablet">
                        <h4>Draggable Events</h4>
                        <div class="external-event badge">Default</div>
                        <div class="external-event badge badge-success">Completed</div>
                        <div class="external-event badge badge-warning">Warning</div>
                        <div class="external-event badge badge-important">Important</div>
                        <div class="external-event badge badge-info">Info</div>
                        <div class="external-event badge badge-inverse">Other</div>
                        <p>
                            <label for="drop-remove"><input type="checkbox" id="drop-remove" /> remove after drop</label>
                        </p>
                    </div>

                    <div id="calendar" class="span9"></div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!--/row-->


    </div> <!--/.fluid-container-->

        <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

                <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agendar cita</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <label for="fname">Ingrese el id del paciente</label>
                        <input type="text" id="nIdPaciente" name="fname">

                    </form>

                    <button  class="btn btn-primary" data-dismiss="modal" onclick="agendarCita()">Aceptar</button>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
}

