@(medico: MedicoEntity)

@index2{
    <!-- start: Content -->
    <div id="content" class="span10 homeHTML">


        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="index.html">Home</a>
                <i class="icon-angle-right"></i>
            </li>

        </ul>

        <div class="row-fluid sortable">
            <div class="span12 bienvenido">
                <h1>Bienvenido</h1>
                <h3>Doctor @medico.getNombre </h3>
            </div><!--/span-->

        </div><!--/row-->

    </div><!--/.fluid-container-->
}